<html>

<head>
    <meta charset="utf-8">
    <title>Address</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
      
       <div id="navdiv">
            <!--Nav Bar-->
           <nav class="navbar alignRight">
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="http://localhost:3009/Breeds">Breeds</a></li>
                <li><a href="/">Test</a></li>
            </ul>
        </nav>

       </div>
            
<div class="form-group">
 
 <form action="/sale-form">
  
 <h3>Owner's Info</h3>
 
 <input type="email"
         name="email" 
         class="form-control" 
         id="email" 
         placeholder="email">
  
  <input type="first_name"
         name="first_name" 
         class="form-control" 
         id="first_name" 
         placeholder="First Name">
  
  <input type="last_name"
         name="last_name" 
         class="form-control" 
         id="last_name" 
         placeholder="Last Name">
  
  <input type="number"
         name="phone_number" 
         class="form-control" 
         id="phone" 
         placeholder="Phone Number">

<h3>Horse's Breed and Country of Origin</h3>
  <input type="text" 
         name="Type"
         class="form-control" 
         id="Type" 
         placeholder="Breed">
  
    <input type="text" 
         name="country"
         id="country" 
         placeholder="Country of Origin">



<h3>Horse's Location</h3>

<input type="street"
         name="street" 
         class="form-control" 
         id="autocomplete" 
         placeholder="Street">
  
  <input type="city"
         name="city" 
         class="form-control" 
         id="inputCity" 
         placeholder="City">
  
  <input type="state"
         name="state"
         class="form-control" 
         id="inputState" 
         placeholder="State">
  
  <input type="zip"
         name="zipcode" 
         class="form-control" 
         id="inputZip" 
         placeholder="Zip">
  
  <input type="country"
         name="country_of_stay" 
         class="form-control" 
         id="inputCountry" 
         placeholder="Country">


<h3>Horse's Info</h3>
 
  <input type="text"
         name="age"
         class="form-control" 
         id="inputage" 
         placeholder="age">
  
  <input type="text"
         name="bio" 
         class="form-control" 
         id="inputBio" 
         placeholder="short bio">
  
  <input type="text"
         name="price" 
         class="form-control" 
         id="inputPrice" 
         placeholder="Enter Price">




  <input id="submit" type="submit"  value="Submit">
     
 </form>

          
</div>

  
    
</body>

</html>