<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
<h1>Seach by Horse Price</h1>
<div class="form-group">

    <form action="/search-price">
        <br>
        <input type="number" name="price" id="price" placeholder="Enter budget Price">
        <br>
        <input type="submit" id="submit" value="Submit"> 
    </form>
        
</div>
</body>

</html>